<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InternOffer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0BDDB011699F41C31AC61E9D1C31D69291667F32</string>
				<key>dateExpires</key>
				<string>01.06.2025</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VSAVKFC52Q.com.kudinovdenis.InternOffer</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VSAVKFC52Q</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>InternOffer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>59f79c87-ddcd-4226-bd80-a4a58570cd52</string>
				<key>dateExpires</key>
				<string>02.06.2023</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.kudinovdenis.InternOffer</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VSAVKFC52Q</string>
				<key>name</key>
				<string>Laboratoriya Kasperskogo ZAO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
